.filter-bar ul.is-dropdown-submenu {
  background: $gray-5;
  border: none;
  border-radius: rem(3);

  li {
    padding: 0.5rem;
    @include transition(0.3s all);
    border-bottom: rem(1) solid $gray-4;

    a {
      font-weight: 600;
    }

    &:hover {
      background: $blue-2;
      color: $white !important;
      @include transition(0.3s all);

      a { color: $white; }
    }
  }

  li:first-child {
    border-radius: rem(3) rem(3) 0 0;
  }

  li:last-child {
    border-radius: 0 0 rem(3) rem(3);
  }

  li:first-child::before {
    content: '';
    border-left: rem(8) solid transparent;
    border-right: rem(8) solid transparent;
    border-bottom: rem(8) solid $gray-5;
    height: 0;
    margin-top: -2rem;
    width: 0;
    position: absolute;
    top: 1.6rem;
    left: 2.8rem;
    @include transition(0.3s border-bottom);
  }

  li:first-child:hover::before {
    border-left: rem(8) solid transparent;
    border-right: rem(8) solid transparent;
    border-bottom: rem(8) solid $blue-2;
    @include transition(0.3s border-bottom);
  }

  li:last-child {
    border-bottom: none;
  }
}
