table.tabled {
  position: relative;

  @include mq(s) {
    word-break: normal;
  }

  tbody,
  thead,
  tr {
    border: none;
    background: none;
    border-radius: 1rem;
  }

  thead {
    background: $gray-1;
    border: rem(1) solid $gray-1;
    border-radius: 1rem;
    color: $white;

    &.light {
      background: $gray-5;
      border: rem(1) solid $gray-4;
      color: $gray-1;
    }

    th {
      font-size: rem(14);
      padding: 1rem;
      text-transform: uppercase;
    }

    .custom-checkbox {
      border: rem(1) solid $white;

      &::before,
      &::after {
        background: $white;
      }
    }
  }


  tbody tr {
    border-top: rem(1) solid $gray-5;
    border-left: rem(1) solid $gray-5;
    border-right: rem(1) solid $gray-5;
    @include transition(0.2s all);

    &:last-child {
      border-bottom: rem(1) solid $gray-5;
    }
  }

  tbody tr:hover {
    background: $gray-5 + 5;
    @include transition(0.2s all);
    width: 100%;

    .custom-checkbox {
      border: rem(1) solid $blue-2;

      &::before,
      &::after {
        background: $blue-2;
      }
    }
  }

  tbody td {
    padding: 1rem;
    vertical-align: middle;
  }

  td.quarter {
    width: 25%;
  }
  td.half {
    width: 50%;
  }
  td.three-quarter {
    width: 75%;
  }
}

.table-descriptor p {
  border-bottom: rem(1) solid $gray-4;
  padding-bottom: 1rem;
  padding-top: 1rem;

  span {
    display: inline-block;
    font-size: rem(14);
    font-weight: bold;
    text-transform: uppercase;
    width: 17%;

    @include mq(s) {
      font-size: rem(12);
      width: 35%;
      margin-left: 0.5rem;
    }
  }
}

.table-row {
  padding: 1rem;
}

.table-row .button.glyph {
  padding: 0.05rem;
}

.table-row .button .glyphicons {
  color: $white;
  font-size: 1.2rem;
}

.table-row .button.small {
  margin: 0 0.2rem 0 0;
}

.table-row .tabled .glyphicons-warning-sign {
  color: $yellow;
}

.table-row .tabled tr td:first-child {
  @include mq(s) {
    width: 40%;
  }
}
