.dashboard-panel {
  margin-bottom: 2rem;
}

aside.left {
  display: table;
  float: left;
  height: 100%;
  width: 20%;
  position: relative;

  &::after {
    @include linear-gradient(to right, rgba($black, 0), rgba($black, 0.1));
    content: '';
    display: table;
    width: rem(5);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}

.main-content {
  float: left;
  height: 100%;
  width: 80%;
  overflow-y: scroll;
}
