// Colors
$blue-1:  #006886;
$blue-2:  #01addf;
$green:   #6abb4f;
$yellow:  #fec534;
$red:     #f34833;

$black-1: #32383c;
$black-2: #272c2f;
$black-3: #1a1f22;

$gray-1:  #a5aebe;
$gray-2:  #959fb0;
$gray-3:  #8b95a7;
$gray-4:  #eaedee;
$gray-5:  #f3f3f3;
$gray-6:  #dcdcdc;
