$ss-pro: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $ss-pro;
}

// Dashboard typography section
.dashboard-panel.typography {
  p {
    margin: 0;
  }

  .large-text {
    color: $gray-3;
    line-height: 1;
    font-size: rem(135);
    font-weight: 700;
  }

  .small-text {
    color: $gray-3;
    font-size: rem(36);
    font-weight: 700;
    line-height: 1;
  }
}

// Helper classes
.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}
